:root {
	--fontfamily: '';
}

*:not(i) {
	padding: 0;
	margin: 0;
	font-family: var(--fontfamily); !important;
}

html {
	font-size: 16px;
}

body {
	max-width: 800px;
	width: 100%;
	padding: 0 1rem;
	margin: 2rem auto;
	box-sizing: border-box;
	font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Theme */

.dark {

}

.light {

}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 0;
	min-height: 3rem;
}

.brand > img {
	height: 2rem;
}

.styles-list {
	list-style: none;
	display: flex;
	gap: 0.25rem;
}

.style-item {
	padding-left: 0.5rem;
}

.style-item:last-child {
	border-left: 1px solid lightgrey;
	display: flex;
	align-items: center;
}

.fontfamily-select {
	border: none;
	cursor: pointer;
	font-size: 1rem;
}	

.fontfamily-select:focus {
	outline: none;
}

.theme-icon {
	min-width: 1.5rem;
	padding-left: 0.25rem;
}

/* Input */

.search {
	margin: 2rem 0;
	position: relative;
	width: 100%;
}

.search-text {
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem;
	border-radius: 1rem;
	border: none;
	background-color: lightcyan;
	width: 100%;
}

.search-text:focus {
	outline: none;
}

.search-btn {
	position: absolute;
	font-size: 1rem;
	right: 0;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	color: violet;
}

.search-btn:hover {
	cursor: pointer;
}